# IMPORTING DATA

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv("/home/luminar/Downloads/train_oSwQCTC/train.csv")
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

# DATA PREPROCESSING

In [3]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [4]:
data = data.fillna(-1)

In [5]:
data['Gender'] = data['Gender'].map({'F':0,'M':1})

In [6]:
def map_age(age):
    if age == '0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '51-55':
        return 5
    else:
        return 6
data['Age'] = data['Age'].apply(map_age)

In [7]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,A,2,0,3,-1.0,-1.0,8370
1,1000001,P00248942,0,0,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,0,10,A,2,0,12,-1.0,-1.0,1422
3,1000001,P00085442,0,0,10,A,2,0,12,14.0,-1.0,1057
4,1000002,P00285442,1,6,16,C,4+,0,8,-1.0,-1.0,7969

In [8]:
def city(stay):
    if stay=='4+':
        return 4
    else:
        return int(stay)
data['Stay_In_Current_City_Years'] = data['Stay_In_Current_City_Years'].apply(city)

In [9]:
data['City_Category'] = data['City_Category'].map({'A':0,'B':1,'C':2})

In [10]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,0,2,0,3,-1.0,-1.0,8370
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,0,10,0,2,0,12,-1.0,-1.0,1422
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,-1.0,1057
4,1000002,P00285442,1,6,16,2,4,0,8,-1.0,-1.0,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,1,5,13,1,1,1,20,-1.0,-1.0,368
550064,1006035,P00375436,0,2,1,2,3,0,20,-1.0,-1.0,371
550065,1006036,P00375436,0,2,15,1,4,1,20,-1.0,-1.0,137
550066,1006038,P00375436,0,6,1,2,2,0,20,-1.0,-1.0,365
550067,1006039,P00371644,0,4,0,1,4,1,20,-1.0,-1.0,490

# SPLITTING DATA

In [11]:
x = data.drop(['Product_ID','User_ID','Purchase'],axis=1)
y = data['Purchase']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.5,random_state=22)

# XGBOOST REGRESSOR

In [13]:
from xgboost import XGBRegressor

In [14]:
import xgboost as xgb
model = xgb.XGBRegressor()
model.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [15]:
predictions = model.predict(x_test)
predictions

array([ 7503.701 , 13619.959 ,  2937.6748, ...,  9390.1   ,  5622.2695,
       14228.879 ], dtype=float32)

In [16]:
from sklearn.metrics import mean_squared_error   
testingerror = mean_squared_error(predictions,y_test)
testingerror

8267492.187595349

# RMSE value

In [17]:
print(np.sqrt(testingerror))

2875.3247099406613

In [24]:
Purchase_=data.groupby('Purchase')['Product_Category_1'].count()

Purchase_

Purchase
12       101
13       106
14        95
24       118
25       113
        ...
23956      1
23958      4
23959      2
23960      4
23961      3
Name: Product_Category_1, Length: 18105, dtype: int64

In [ ]:
sns.barplot(Purchase_.index,Purchase_)